@charset "utf-8";
/* CSS docment */

html {
    position: relative;
    height: 100%;
    font-size: 62.5%;
    font-family:'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    width: 100%;
}

#ugomekun {
    position: absolute;
    left: 200px; 
    top: 100px;
}

.flip-horizontal {
    transform: scale(-1, 1);
}